.container{
    border-bottom-style:solid;
    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    justify-content: space-between;
}

.right>p{
    margin-left:140px
}
h1{
    display:flex;
    flex-wrap:wrap;
}
img{
    width:180px;
    height:100%;
    margin-bottom: 27px;
}
.image{
    margin-top:30px;
    width:50%;
    height:290px;
    margin-left:350px;
}
h2{
    margin-left: 100px;
}

.thumbnails{
    display:flex;
    flex-wrap:wrap; 
    padding:0 4px;
    margin:auto;   
}  

.box1{
    width:300px;
    height:200px;
}
.box1{
    margin-left:100px;
    max-height:360px;
}
.img2{
    width:350px
}
.box1{
   max-width:261px;
   margin-bottom:120px;
}
.box1>h2{
    display:flex;
    justify-content: center;
    font-weight:bold;
    margin-left: 20%;
}
.box1>a{
    display:flex;
    justify-content:center;
}


@media screen and (max-width:810px) and (min-width:200px){
    .image{
        margin-top:30px;
        width:45%;
        height:150px;
        margin-left:120px;
    }
}

@media screen and (max-width:685px) and (min-width:200px){
    .right>h1{
        margin-left:20px;
    }
    .right>p{
        margin-left:10px
    }
}